<!DOCTYPE html>
<html>
<head>
	<link href="/css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
	{{#if authorised}}
            {{>postLoginHeader}}
    {{else}}
            {{> header}}
    {{/if}}
	<!-- Item details -->
	<section class="item-details">
			
			<h1>{{itemname}}</h1>
			<img class="item-img" src="/{{imgloc}}" alt="{{itemname}}">
			<p>{{itemdescription}}</p>
			<p class="item-swaps">{{swaplist}}</p>
			
	</section>
	<!-- Lister info -->
	<aside class="user-info">
		<p>Own an item {{listerusername}} wants to swap?</p>
		<p class="gdpr-notice">Notice: We cannot display personally identifiable information due to GDPR EU regulation!</p>
		<form method="post">
			<select name="swapitem">
				{{#each ownListings}}
	                <option value="{{this.id}}">{{this.name}}</option>
	            {{/each}}
			</select>
			<button type="submit">Request to Swap</button>
		</form>
	</aside>
</body>
</html>