<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Search for {{query}}</title>
	<meta name="description" content="Search results">
	<meta name="author" content="Lewis Stokes">
	<link href="css/style.css" type="text/css" rel="stylesheet" />
</head>

<body>
	{{#if authorised}}
            {{>postLoginHeader}}
    {{else}}
            {{> header}}
    {{/if}}

    

    <ul class="search_list">

        {{#each searchResult}}
        <li class="search_item">  
            <a href="/item/{{this.id}}">
                <img class="slider-thumbnail" src="/{{this.imgloc}}">
                <h4>{{this.itemname}}</h4>
                <br/>
                <p>{{this.itemdescription}}</p> 
            </a>
        </li>
        {{/each}}

    </ul>
    <footer >       {{> footer}}        </footer>
</body>

</html>